body {
    background-color: rgb(26, 24, 24);
    color: white;
}
img {
        display: block;
        margin: 0 auto;
    }
ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    
li {
        margin: 10px 0;
    }
    
a {
        color: rgb(154, 242, 116);
    }